@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*   font-family: "Poppins", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

.chuva-animado {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    position: fixed;
}

.gota {
    position: absolute;
    top: -10px;
    width: 2.5px;
    height: 20px;
    background: #000000;
    opacity: 0.5;
    animation: cair linear infinite;
}

/* Criar variações nas posições, velocidades e delays */
.gota:nth-child(1) {
    left: 5%;
    animation-duration: 1s;
    animation-delay: 0s;
}

.gota:nth-child(2) {
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

.gota:nth-child(3) {
    left: 25%;
    animation-duration: 1.2s;
    animation-delay: 1s;
}

.gota:nth-child(4) {
    left: 35%;
    animation-duration: 0.9s;
    animation-delay: 0.3s;
}

.gota:nth-child(5) {
    left: 45%;
    animation-duration: 1.8s;
    animation-delay: 0.7s;
}

.gota:nth-child(6) {
    left: 55%;
    animation-duration: 1.1s;
    animation-delay: 0.4s;
}

.gota:nth-child(7) {
    left: 65%;
    animation-duration: 1.3s;
    animation-delay: 1.2s;
}

.gota:nth-child(8) {
    left: 75%;
    animation-duration: 0.8s;
    animation-delay: 0.6s;
}

.gota:nth-child(9) {
    left: 85%;
    animation-duration: 1.6s;
    animation-delay: 0.2s;
}

.gota:nth-child(10) {
    left: 95%;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes cair {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    padding: 0 10%;
    background-color: #fff;
    position: fixed;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all .4s;
}

.logo {
    font-size: 2rem;
    transition: .5s;
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    color: #000;
    font-size: 1.6rem;
    margin: 0 1rem;
    transition: .5s;
    font-weight: 450;
    position: relative;
}

.menu li a::before {
    content: "";
    position: absolute;
    width: 0;
    background: #000000;
    left: 50%;
    height: 2px;
    bottom: -3px;
    opacity: 0.7;
    transition: all .4s;
}

.menu li a:hover::before {
    width: 100%;
    left: 0%;
}

.navegacao-toggle {
    display: none;
    padding: 10px;
    cursor: pointer;
    background: transparent;
}

.bar {
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    border-radius: 10px;
    background: #000;
    transition: all .1s ease-in-out;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0rem 1rem;
    transition: all .4s;
}

.cabecalho-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 4px, rgba(0, 0, 0, 0.9) 0px 7px 13px -3px, rgba(0, 0, 0, 0.9) 0px -3px 0px inset;
    border-radius: 50%;
    overflow: hidden;
    animation: flutuar 4s ease-in-out infinite;
    transition: all .4s;
    margin-top: 1rem;
    background-color: #fff;
}

.cabecalho-foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cabecalho-titulo-paragrafo {
    text-align: center;
    margin-top: 10px;
}

.cabecalho-titulo {
    font-size: 3rem;
    transition: all .4s;
}

.cabecalho-paragrafo {
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all .4s;
}

.cabecalho-caixa {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.cabecalho-circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    margin: 0 2px;
    transition: all .4s;
}

.cabecalho-circulo:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.42) 0px 2px 16px 0px;
}

.cabecalho-link {
    display: flex;
}

.cabecalho-redes-social-img {
    width: 25px;
    color: #000;
    cursor: pointer;
    transition: all .4s;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

.sobre-titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
    transition: all .4s;
}

.sobre-caixa {
    padding: 1rem;
    width: 50rem;
    border: 2px solid #242424;
    border-radius: 16px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px;
    transition: all .4s;
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
    transition: all .4s;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0rem 1rem;
    transition: all .4s;
}

.projetos-titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 25px;
    transition: all .4s;
}

.projetos-card {
    border-radius: 16px;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 1rem;
    background-color: #fff;
}

.projetos-card:hover {
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #ececec;
}

.projetos-sub_titulo {
    text-align: center;
    margin: 10px 0;
    transition: all .4s;
}

.projetos-live_demo-github {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.projetos-btn {
    padding: 5px 10px;
    border-radius: 30px;
    margin: 0 10px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-weight: 600;
    transition: all .4s;
}

.projetos-btn:hover {
    color: #fff;
    background-color: #000;
}

.projetos-mini_titulo-tecnologia_img {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projetos-mini_titulo {
    font-weight: 600;
    transition: all .4s;
}

.projetos-tecnologia_img {
    width: 115px;
    height: 35px;
    margin: 5px 0;
    transition: all .4s;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem 1rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    transition: all .4s;
}

.contatos-caixa {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.contatos-circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    margin: 0 2px;
    transition: all .4s;
}

.contatos-circulo:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.42) 0px 2px 16px 0px;
}

.contatos-link {
    display: flex;
}

.contatos-redes-social-img {
    width: 18px;
    transition: all .4s;
    cursor: pointer;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-link li {
    margin: 20px 10px;
    transition: all .4s;
}

.menu-link a {
    color: #000;
    font-size: 1rem;
    margin: 0 3px;
    transition: .5s;
    font-weight: 450;
    position: relative;
}

.menu-link a::before {
    content: "";
    position: absolute;
    width: 0;
    background: #000;
    left: 50%;
    height: 2px;
    bottom: -3px;
    opacity: 0.7;
    transition: all .4s;
}

.menu-link a:hover::before {
    width: 100%;
    left: 0;
}

.linha-horizontal {
    margin-top: 4rem;
}

footer {
    margin: 15px 0;
}

.footer-paragrafo {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 0 1rem;
    transition: all .4s;
}

/*Tela de celular*/
@media (max-width: 1200px) {
    .navegacao {
        padding: 0 4%;
    }
}

@media (max-width: 910px) {
    .logo {
        z-index: 9;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 1.7rem;
        position: absolute;
        height: 50vh;
        width: 100%;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .menu li a::before {
        content: "";
        position: absolute;
        width: 0;
        background: #000000;
        left: 50%;
        height: 3px;
        bottom: -3px;
    }

    .menu li a {
        font-weight: 650;
    }

    .menu.active {
        display: flex;
    }

    .navegacao-toggle {
        display: block;
        z-index: 9;
    }

    .navegacao-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    .navegacao-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navegacao-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

    .sobre-caixa {
        width: 30rem;
    }

}

@media (max-width: 526px) {
    .logo {
        font-size: 1.4rem;
    }

    .cabecalho {
        padding-top: none;
    }

    .cabecalho-perfil {
        width: 14rem;
        height: 14rem;
    }

    .cabecalho-titulo {
        font-size: 1.5rem;
    }

    .cabecalho-paragrafo {
        font-size: 0.8rem;
    }

    .cabecalho-circulo {
        width: 35px;
        height: 35px;
        border: 2px solid #000;
    }

    .cabecalho-redes-social-img {
        width: 16px;
    }

    .sobre {
        padding: 0rem 1rem;
    }

    .sobre-titulo {
        font-size: 1.5rem;
    }

    .sobre-caixa {
        width: 25rem;
    }

    .sobre-paragrafo {
        font-size: 1rem
    }

    .projetos-titulo {
        font-size: 1.5rem;
    }

    .projetos-sub_titulo {
        font-size: 1rem;
    }

    .projetos-btn {
        font-size: 0.7rem;
    }

    .projetos-mini_titulo {
        font-size: 0.9rem;
    }

    .projetos-tecnologia_img {
        width: 100px;
        height: 30px;
    }

    .contatos-titulo {
        font-size: 1.5rem;
    }

    .contatos-circulo {
        width: 35px;
        height: 35px;
        border: 2px solid #000;
    }

    .contatos-redes-social-img {
        width: 16px;
    }

    .menu-link li {
        margin: 20px 5px;
    }

    .footer-paragrafo {
        font-size: 12px;
    }
}

@media (max-width: 496px) {
    .sobre-caixa {
        width: 22rem;
    }

    .sobre-paragrafo {
        font-size: 0.9rem
    }
}

@media (max-width: 366px) {
    .logo {
        font-size: 1.2rem;
    }

    .sobre-caixa {
        width: 18rem;
    }

    .cabecalho-perfil {
        width: 14rem;
    }

    .projetos-imagem {
height: 10rem;
    }

    .menu-link li a {
        font-size: 0.8rem;
    }

    .footer-paragrafo {
        font-size: 9px;
    }
}